<div class="d-flex flex-row justify-content-start" style="height: 100px;">

    <div class="align-self-center ">
        <input type="checkbox" name="isDone" [checked]="todo.isChecked" (change)="checkTodo(todo.id, $event)">
    </div>

    <div class="d-flex flex-column flex-grow-1 ml-5 ">
        <div class="p-2">
            <div class="d-flex justify-content-between">
                <h5>{{todo.title}}</h5>
                <div>
                    <span class="badge badge-pill badge-secondary">Due on {{todo.dueDate}}</span>
                </div>
            </div>
        </div>
        <div class="p-2">
            <p class=" text-secondary ">{{todo.description}}</p>
        </div>
    </div>
</div>